:root {
    --bgColorPage: #000000;
    --bgColorOutputConsole: #403f3f;
    --bgColorInputBox: #333333;
    --fgColor: white;
}

body {
    background-color: var(--bgColorPage);
    margin: 0;
}

html, body, #app {
    height: 100%;
}

input:focus, textarea:focus {
    outline: none;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    font-family: "Courier New", Courier, monospace;
    font-size: 13px;
}

.footer {
    flex-shrink: 0;
    display: flex;
}

.zero-fill {
    padding: 0;
    border: 0;
    margin: 0;
}

.output-console {
    resize: none;
    width: 100%;
    background-color: var(--bgColorOutputConsole);
    color: var(--fgColor);
}

.input-box {
    width: 100%;
    background-color: var(--bgColorInputBox);
    color: var(--fgColor);
}

span.text-run:empty:before {
    content: "\200b";
}

.text-run--default      {
    color: #d3d3d3;
}
 
.text-run--light-blue   {
    color: #1b4de2;
}

.text-run--dark-blue    {
    color: #000066;
}

.text-run--light-cyan   {
    color: #00ccff;
}

.text-run--dark-cyan    {
    color: #009999;
}

.text-run--light-green  {
    color: #33cc33;
}

.text-run--dark-green   {
    color: #006600;
}

.text-run--pink         {
    color: #ff00ff;
}

.text-run--purple       {
    color: #660066;
}

.text-run--light-red    {
    color: #ff0000;
}

.text-run--dark-red     {
    color: #800000;
}

.text-run--white        {
    color: #ffffff;
}

.text-run--gray         {
    color: #6d6d6d;
}

.text-run--light-yellow {
    color: #ffff00;
}

.text-run--dark-yellow  {
    color: #cc9900;
}
